{% extends "base.html" %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
  <div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive" alt="" />
    {% endif %}
    <h1>{{ title }}
      {% if instance.draft %}
        <small>
          <span style="color: red;">
            Draft
          </span>
        </small>
      {% endif %}
    </h1>
    <h2>Author: {{ instance.user }}</h2>
    <h3>{{ instance.timestamp }}</h3>

    {{ instance.content }}<br/>
  {% if instance.user == user %}
    <a class="btn btn-default" href="/{{ instance.slug }}/edit">Edit post</a>
  {% endif %}
  </div>

{% endblock content %}
