{% extends "base.html" %}
{% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h1>{{ title }} </h1>
    <form action="" method="get">
      <input type="text" name="query" placeholder="Search Posts" />
      <input type="submit" value="Search" />
    </form>
    <div class="row">
    {% for obj in object_list %}
      <div class="col-sm-6">
        <div class="thumbnail">
          {% if obj.image %}
          <img src="{{ obj.image.url }}" class='img-responsive' />
          {% endif %}
          <div class="caption">
            <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
              {% if object.draft %}
                <small>
                  <span style="color: red;">
                    Draft
                  </span>
                </small>
              {% endif %}
            </h3>
            <h4>{{ obj.timestamp|timesince }} ago</h4>
            <p>{{ obj.user }}</p>
            <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
            <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>
    {% cycle "" "</div><div class='row'>" %}
    {% endfor %}
    </div>
  </div>
{% endblock content %}
